@model IEnumerable<Bikers.Models.Gallery>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Image Gallery</h2>
                    <p>Here you can find our Tour Images</p>
                </div>
                <div class="block">
                    <div class="recent-work-pic">
                        <ul id="mixed-items">
                            @foreach (var item in Model)
                            {
                                <li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
                                    <a class="example-image-link" href="~/Content/images/GalleryImages/@item.Images" data-lightbox="example-set">
                                        <img class="img-responsive" src="~/Content/images/GalleryImages/@item.Images" alt="">
                                        <div class="overlay">
                                            <h3>@item.Name</h3>
                                            <i class="ion-ios-plus-empty"></i>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>