@using Bikers.Helpers

@model Bikers.Models.News

<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1>News Is To The Mind What Sugar Is To The Body</h1>
                    @*<p>13 MARCH 2015 / BY SARA SMITH</p>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <div class="blog-img row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="~/Content/images/NewsFolder/@Model.Image" alt="">
                    </div>
                </div>
                <div class="block">
                    <span class="first-child-span text-center"><h1>@Model.Heading</h1></span>
                    <h5 style="text-align:center">Posted: @Html.ShowDate(Model.CreatedOn)</h5>

                    <p class="first-child">@Html.Raw(Model.Remarks)</p>
                </div>

            </div>
        </div>
    </div>
</section>



